:root {
  --primery-text-color: #434455;
  --title-text-color: #2e2f42;
  --accent-color: #404bbf;
  --primery-background-color: #e5e5e5;
  --secondary-background-color: #4d5ae5;
  --third-text-color: #ffffff;
  --additional-color: #e7e9fc;
}
body {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.02em;
  color: var(--primery-text-color);
  background-color: var(--primery-background-color);
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;

}
h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}
.list {
  list-style: none;
}

.link {
  text-decoration: none;
}
/* ===================HEADER================================ */

/* menu */
.top-header-container {
  display: flex;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
}
.nav {
  display: flex;
  align-items: center;
}
.container-logo {margin-right: 76px;}
.menu {
  display: flex;
  align-items: center;

}
.contact {
  display: flex;
  align-items: center;
  margin-left: auto;

  
}
.number {
  margin-left: 40px;
  
}

.menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--title-text-color);
}
.menu-item:not(:last-child) {
  margin-right: 40px;
}

.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}
.contact {
  display: flex;
  align-items: center;
}
.mail,
.number {
  font-size: 16px;
  line-height: 1.5;
  color: var(--primery-text-color);
}
.mail:hover,
.number:hover,
.mail:focus,
.number:focus {
  color: var(--accent-color);
}
/* ===================/HEADER================================ */
/*===================== COMPONENTS =================*/
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-background-color);
  
}
.logo .logo-studio-up {
  color: var(--title-text-color);
}
.logo .logo-studio-down {
  color: var(--third-text-color);
}
/* button */
.modal-btn {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--third-text-color);
  background-color: var(--secondary-background-color);
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 30px;
  padding-right: 30px;
 
}
.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--accent-color);
  color: var(--third-text-color);
}
.button {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--secondary-background-color);
}
.button:hover,
.button:focus {
  color: var(--third-text-color);
  background-color: var(--accent-color);
  cursor: pointer;
}
.suptitle {
  font-size: 16px;
  line-height: 1.5;
  color: var(--primery-text-color);

}

.suptitle-footer {
  color: var(--additional-color);
}
.caption {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  

}

.section-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  text-align: center;
  margin-bottom: 72px;
  display: flex;
  justify-content: center;


}
/* ==================HERO========== */
.hero {background-color:var(--title-text-color);
  margin-right: 24px;

 
 
}
.hero-container{
 text-align: center;
}
.hero-title {
  font-size: 56px;
  line-height: 1.07;
  color: var(--third-text-color);
  max-width: 494px;



}

/* ===================/HERO================================ */

/*===================== MAIN =================*/


 
  
.our {
  opacity: 0;
}

/* features */

.features-list{
  display: flex;
  gap:24px;
} 
.features-list-title{
  flex-basis: calc((100%-48px)/3);
}

.work-list
{
  display: flex;
  gap: 24px;
}
.team-list{
  display: flex;
  gap: 24px;
}

.feature-list .title {
  color: var(--title-text-color);
}
.caption{
  margin-bottom: 8px;
}
.section-team {
  background-color: #F4F4FD;
  display: flex;
  
}
.team-card
{  padding-top: 32px;
  padding-bottom: 32px;
  padding-right: 16px;
  padding-left: 16px;
  background-color: var(--third-text-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
border-radius: 0px 0px 4px 4px;
text-align: center;

}

/*===================== /MAIN =================*/

/* ===================FOOTER============= */
.footer {
  background-color: var(--title-text-color);
}
.container-footer{
  padding-top: 100px;
  padding-bottom: 100px;
  

}
.suptitle-footer{
  width: 264px;
height: 72px;
left: 156px;
top: 2418px;
margin-top: 16px;
flex-grow: 1;

}

/* ===================/FOOTER============= */
